# Employees End of the Year Bonus Lawsuit

## Project Description
<font color=red> Can an AI be a judge?<br>
I don't think, Judge Judy belives in AI !!!!!<br>
https://www.youtube.com/watch?v=WF2WtoKPb_k <br>

But, let's give it a shot!<br>

<font color=black> A large manufacturing corporation will give a $10,000 bonus at the end of each year to some employees. There has been a lawsuit against the company that they are biased toward certain employees, depends on their gender, nationality, and marital status. The top managers claimed that receiving the bonus depends solely on the employee status, e.g. number of years experience, number of machines s/he can works with, number of training hours, age, academic degree, and their salary. You have been hired to investigate this and prepare a report for the court.<br>
Your task is to build an ANN model to check whether gender, nationality, and marital status have an effect on receiving the bonus. Note: For privacy, the employee’s names have been removed and only their employee’s ID is shown.

## Importing the Libraries

In [3]:
import numpy as np
import pandas as pd
import tensorflow as tf

## Data Preprocessing

### Importing the Dataset

In [4]:
dataset = pd.read_csv('EmploymentEndofYearBonus.csv')
X = dataset.iloc[:, 2:-1].values
y = dataset.iloc[:, -1].values

<font color='red'> Note:<br>
<font color='black'> Maritial Staus (1=Married, 0=Single) <br>
Has a Bachelor or Higher Degree (1=Yes, 0=No) <br>
Recieved the Bonus (1=Yes, 0=No)

In [5]:
dataset

,RowNumber,Emplyee ID,Hours Training,Geography,Gender,Age,Years of Experience,Number of Machines S/he can work with,Married,Has a Bachelor or Higher Degree,Annual Salary,Reciev Bonus
0,1,15634602,619,USA,Female,42,2,1,1,1,101349,1
1,2,15647311,608,Canada,Female,41,1,1,0,1,112543,0
2,3,15619304,502,USA,Female,42,8,3,1,0,113932,1
3,4,15701354,699,USA,Female,39,1,2,0,0,93827,0
4,5,15737888,850,Canada,Female,43,2,1,1,1,79084,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,771,USA,Male,39,5,2,1,0,96271,0
9996,9997,15569892,516,USA,Male,35,10,1,1,1,101700,0
9997,9998,15584532,709,USA,Female,36,7,1,0,1,42086,1
9998,9999,15682355,772,Mexico,Male,42,3,2,1,0,92889,1
9999,10000,15628319,792,USA,Female,28,4,1,1,0,38191,0

### Encoding Categorical Data

Label Encoding the "Gender" column

In [6]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:, 2] = le.fit_transform(X[:, 2])

One Hot Encoding the "Nationality" column

In [7]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [8]:
pd.DataFrame(X)

       0    1    2    3  4   5   6  7  8  9       10
0     0.0  0.0  1.0  619  0  42   2  1  1  1  101349
1     1.0  0.0  0.0  608  0  41   1  1  0  1  112543
2     0.0  0.0  1.0  502  0  42   8  3  1  0  113932
3     0.0  0.0  1.0  699  0  39   1  2  0  0   93827
4     1.0  0.0  0.0  850  0  43   2  1  1  1   79084
...   ...  ...  ...  ... ..  ..  .. .. .. ..     ...
9995  0.0  0.0  1.0  771  1  39   5  2  1  0   96271
9996  0.0  0.0  1.0  516  1  35  10  1  1  1  101700
9997  0.0  0.0  1.0  709  0  36   7  1  0  1   42086
9998  0.0  1.0  0.0  772  1  42   3  2  1  0   92889
9999  0.0  0.0  1.0  792  0  28   4  1  1  0   38191

[10000 rows x 11 columns]

### Splitting the Dataset into the Training set and Test set

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

### Feature Scaling

In [10]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

## Building the ANN Model

### Initializing the ANN

In [11]:
ANNJudge= tf.keras.models.Sequential()

### Adding the Input Layer

In [12]:
ANNJudge.add(tf.keras.layers.Dense(units=11, activation='relu'))

### Adding the Hidden Layer

In [13]:
ANNJudge.add(tf.keras.layers.Dense(units=6, activation='relu'))

### Adding the Output Layer

In [14]:
ANNJudge.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

### Compiling the ANN

In [15]:
ANNJudge.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

## Training the ANN

In [16]:
ANNJudge.fit(X_train, y_train, batch_size = 32, epochs = 100)

Epoch 1/100
250/250 [==============================] - 0s 653us/step - loss: 0.5380 - accuracy: 0.7751
Epoch 2/100
250/250 [==============================] - 0s 653us/step - loss: 0.4506 - accuracy: 0.7996
Epoch 3/100
250/250 [==============================] - 0s 620us/step - loss: 0.4315 - accuracy: 0.8076
Epoch 4/100
250/250 [==============================] - 0s 673us/step - loss: 0.4230 - accuracy: 0.8124
Epoch 5/100
250/250 [==============================] - 0s 625us/step - loss: 0.4155 - accuracy: 0.8177
Epoch 6/100
250/250 [==============================] - 0s 601us/step - loss: 0.4080 - accuracy: 0.8202
Epoch 7/100
250/250 [==============================] - 0s 628us/step - loss: 0.4006 - accuracy: 0.8220
Epoch 8/100
250/250 [==============================] - 0s 628us/step - loss: 0.3937 - accuracy: 0.8238
Epoch 9/100
250/250 [==============================] - 0s 625us/step - loss: 0.3866 - accuracy: 0.8253
Epoch 10/100
250/250 [==============================] - 0s 609us/step - loss: 0.3812 - accuracy: 0.8269
Epoch 11/100
250/250 [==============================] - 0s 609us/step - loss: 0.3763 - accuracy: 0.8290
Epoch 12/100
250/250 [==============================] - 0s 629us/step - loss: 0.3725 - accuracy: 0.8291
Epoch 13/100
250/250 [==============================] - 0s 624us/step - loss: 0.3696 - accuracy: 0.8311
Epoch 14/100
250/250 [==============================] - 0s 617us/step - loss: 0.3676 - accuracy: 0.8500
Epoch 15/100
250/250 [==============================] - 0s 661us/step - loss: 0.3656 - accuracy: 0.8519
Epoch 16/100
250/250 [==============================] - 0s 641us/step - loss: 0.3641 - accuracy: 0.8536
Epoch 17/100
250/250 [==============================] - 0s 625us/step - loss: 0.3627 - accuracy: 0.8550
Epoch 18/100
250/250 [==============================] - 0s 621us/step - loss: 0.3596 - accuracy: 0.8571
Epoch 19/100
250/250 [==============================] - 0s 639us/step - loss: 0.3522 - accuracy: 0.8571
Epoch 20/100
250/250 [==============================] - 0s 617us/step - loss: 0.3497 - accuracy: 0.8576
Epoch 21/100
250/250 [==============================] - 0s 601us/step - loss: 0.3486 - accuracy: 0.8583
Epoch 22/100
250/250 [==============================] - 0s 613us/step - loss: 0.3478 - accuracy: 0.8590
Epoch 23/100
250/250 [==============================] - 0s 621us/step - loss: 0.3471 - accuracy: 0.8597
Epoch 24/100
250/250 [==============================] - 0s 625us/step - loss: 0.3465 - accuracy: 0.8583
Epoch 25/100
250/250 [==============================] - 0s 605us/step - loss: 0.3467 - accuracy: 0.8593
Epoch 26/100
250/250 [==============================] - 0s 605us/step - loss: 0.3456 - accuracy: 0.8589
Epoch 27/100
250/250 [==============================] - 0s 643us/step - loss: 0.3457 - accuracy: 0.8591
Epoch 28/100
250/250 [==============================] - 0s 645us/step - loss: 0.3455 - accuracy: 0.8590
Epoch 29/100
250/250 [==============================] - 0s 661us/step - loss: 0.3454 - accuracy: 0.8610
Epoch 30/100
250/250 [==============================] - 0s 649us/step - loss: 0.3448 - accuracy: 0.8600
Epoch 31/100
250/250 [==============================] - 0s 609us/step - loss: 0.3449 - accuracy: 0.8599
Epoch 32/100
250/250 [==============================] - 0s 609us/step - loss: 0.3443 - accuracy: 0.8602
Epoch 33/100
250/250 [==============================] - 0s 606us/step - loss: 0.3439 - accuracy: 0.8610
Epoch 34/100
250/250 [==============================] - 0s 617us/step - loss: 0.3436 - accuracy: 0.8599
Epoch 35/100
250/250 [==============================] - 0s 613us/step - loss: 0.3436 - accuracy: 0.8596
Epoch 36/100
250/250 [==============================] - 0s 605us/step - loss: 0.3435 - accuracy: 0.8599
Epoch 37/100
250/250 [==============================] - 0s 605us/step - loss: 0.3431 - accuracy: 0.8595
Epoch 38/100
250/250 [==============================] - 0s 601us/step - loss: 0.3429 - accuracy: 0.8600
Epoch 39/100
250/250 [==============================] - 0s 601us/step - loss: 0.3428 - accuracy: 0.8619
Epoch 40/100
250/250 [==============================] - 0s 645us/step - loss: 0.3427 - accuracy: 0.8600
Epoch 41/100
250/250 [==============================] - 0s 628us/step - loss: 0.3426 - accuracy: 0.8610
Epoch 42/100
250/250 [==============================] - 0s 656us/step - loss: 0.3425 - accuracy: 0.8594
Epoch 43/100
250/250 [==============================] - 0s 636us/step - loss: 0.3426 - accuracy: 0.8585
Epoch 44/100
250/250 [==============================] - 0s 635us/step - loss: 0.3422 - accuracy: 0.8594
Epoch 45/100
250/250 [==============================] - 0s 637us/step - loss: 0.3421 - accuracy: 0.8616
Epoch 46/100
250/250 [==============================] - 0s 633us/step - loss: 0.3421 - accuracy: 0.8600
Epoch 47/100
250/250 [==============================] - 0s 629us/step - loss: 0.3419 - accuracy: 0.8605
Epoch 48/100
250/250 [==============================] - 0s 633us/step - loss: 0.3415 - accuracy: 0.8618
Epoch 49/100
250/250 [==============================] - 0s 631us/step - loss: 0.3415 - accuracy: 0.8599
Epoch 50/100
250/250 [==============================] - 0s 633us/step - loss: 0.3415 - accuracy: 0.8601
Epoch 51/100
250/250 [==============================] - 0s 614us/step - loss: 0.3415 - accuracy: 0.8606
Epoch 52/100
250/250 [==============================] - 0s 645us/step - loss: 0.3416 - accuracy: 0.8602
Epoch 53/100
250/250 [==============================] - 0s 631us/step - loss: 0.3413 - accuracy: 0.8619
Epoch 54/100
250/250 [==============================] - 0s 631us/step - loss: 0.3415 - accuracy: 0.8610
Epoch 55/100
250/250 [==============================] - 0s 669us/step - loss: 0.3409 - accuracy: 0.8600
Epoch 56/100
250/250 [==============================] - 0s 656us/step - loss: 0.3414 - accuracy: 0.8601
Epoch 57/100
250/250 [==============================] - 0s 617us/step - loss: 0.3410 - accuracy: 0.8602
Epoch 58/100
250/250 [==============================] - 0s 629us/step - loss: 0.3408 - accuracy: 0.8609
Epoch 59/100
250/250 [==============================] - 0s 629us/step - loss: 0.3403 - accuracy: 0.8595
Epoch 60/100
250/250 [==============================] - 0s 609us/step - loss: 0.3406 - accuracy: 0.8604
Epoch 61/100
250/250 [==============================] - 0s 620us/step - loss: 0.3402 - accuracy: 0.8601
Epoch 62/100
250/250 [==============================] - 0s 633us/step - loss: 0.3405 - accuracy: 0.8587
Epoch 63/100
250/250 [==============================] - 0s 621us/step - loss: 0.3403 - accuracy: 0.8605
Epoch 64/100
250/250 [==============================] - 0s 603us/step - loss: 0.3401 - accuracy: 0.8616
Epoch 65/100
250/250 [==============================] - 0s 613us/step - loss: 0.3403 - accuracy: 0.8606
Epoch 66/100
250/250 [==============================] - 0s 629us/step - loss: 0.3399 - accuracy: 0.8593
Epoch 67/100
250/250 [==============================] - 0s 633us/step - loss: 0.3401 - accuracy: 0.8609
Epoch 68/100
250/250 [==============================] - 0s 613us/step - loss: 0.3396 - accuracy: 0.8605
Epoch 69/100
250/250 [==============================] - 0s 625us/step - loss: 0.3397 - accuracy: 0.8589
Epoch 70/100
250/250 [==============================] - 0s 617us/step - loss: 0.3395 - accuracy: 0.8599
Epoch 71/100
250/250 [==============================] - 0s 609us/step - loss: 0.3397 - accuracy: 0.8605
Epoch 72/100
250/250 [==============================] - 0s 614us/step - loss: 0.3394 - accuracy: 0.8622
Epoch 73/100
250/250 [==============================] - 0s 637us/step - loss: 0.3392 - accuracy: 0.8610
Epoch 74/100
250/250 [==============================] - 0s 609us/step - loss: 0.3394 - accuracy: 0.8604
Epoch 75/100
250/250 [==============================] - 0s 605us/step - loss: 0.3391 - accuracy: 0.8605
Epoch 76/100
250/250 [==============================] - 0s 617us/step - loss: 0.3388 - accuracy: 0.8610
Epoch 77/100
250/250 [==============================] - 0s 601us/step - loss: 0.3388 - accuracy: 0.8609
Epoch 78/100
250/250 [==============================] - 0s 615us/step - loss: 0.3390 - accuracy: 0.8612
Epoch 79/100

250/250 [==============================] - 0s 621us/step - loss: 0.3388 - accuracy: 0.8599
Epoch 80/100
250/250 [==============================] - 0s 604us/step - loss: 0.3386 - accuracy: 0.8635
Epoch 81/100
250/250 [==============================] - 0s 608us/step - loss: 0.3389 - accuracy: 0.8608
Epoch 82/100
250/250 [==============================] - 0s 639us/step - loss: 0.3383 - accuracy: 0.8610
Epoch 83/100
250/250 [==============================] - 0s 653us/step - loss: 0.3385 - accuracy: 0.8615
Epoch 84/100
250/250 [==============================] - 0s 620us/step - loss: 0.3383 - accuracy: 0.8614
Epoch 85/100
250/250 [==============================] - 0s 637us/step - loss: 0.3384 - accuracy: 0.8621
Epoch 86/100
250/250 [==============================] - 0s 629us/step - loss: 0.3381 - accuracy: 0.8614
Epoch 87/100
250/250 [==============================] - 0s 605us/step - loss: 0.3383 - accuracy: 0.8608
Epoch 88/100
250/250 [==============================] - 0s 634us/step - loss: 0.3378 - accuracy: 0.8610
Epoch 89/100
250/250 [==============================] - 0s 621us/step - loss: 0.3379 - accuracy: 0.8616
Epoch 90/100
250/250 [==============================] - 0s 617us/step - loss: 0.3377 - accuracy: 0.8611
Epoch 91/100
250/250 [==============================] - 0s 629us/step - loss: 0.3382 - accuracy: 0.8612
Epoch 92/100
250/250 [==============================] - 0s 617us/step - loss: 0.3374 - accuracy: 0.8625
Epoch 93/100
250/250 [==============================] - 0s 642us/step - loss: 0.3379 - accuracy: 0.8595
Epoch 94/100
250/250 [==============================] - 0s 625us/step - loss: 0.3378 - accuracy: 0.8616
Epoch 95/100
250/250 [==============================] - 0s 621us/step - loss: 0.3378 - accuracy: 0.8604
Epoch 96/100
250/250 [==============================] - 0s 657us/step - loss: 0.3376 - accuracy: 0.8602
Epoch 97/100
250/250 [==============================] - 0s 629us/step - loss: 0.3369 - accuracy: 0.8626
Epoch 98/100
250/250 [==============================] - 0s 615us/step - loss: 0.3375 - accuracy: 0.8616
Epoch 99/100
250/250 [==============================] - 0s 624us/step - loss: 0.3375 - accuracy: 0.8616
Epoch 100/100
250/250 [==============================] - 0s 608us/step - loss: 0.3372 - accuracy: 0.8619

## Evaluating the Model

### Prediction on the Test Set

In [17]:
y_pred = ANNJudge.predict(X_test)
Get_the_Bonus = (y_pred > 0.5)
# Just for quick test: 
print('This employee gets the bonus.', Get_the_Bonus[355])
print('This employee gets the bonus.', Get_the_Bonus[1356])

63/63 [==============================] - 0s 547us/step
This employee gets the bonus. [ True]
This employee gets the bonus. [False]

### Checking the Confusion Matrix and Accuracy Score

In [22]:
from sklearn.metrics import confusion_matrix, accuracy_score
y_pred = (y_pred > 0.5) #Classification metrics can't handle a mix of binary and continuous targets, so we change the target (y_pred) to binary, True/False
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[1520   75]
 [ 197  208]]

0.864

In [19]:
# Another quick way to check the loss and accuracy
ANNJudge.evaluate(X_test,y_test)

63/63 [==============================] - 0s 563us/step - loss: 0.3416 - accuracy: 0.8640

[0.3416377604007721, 0.8640000224113464]

### Moment of Truth
##### Does your "gender", "nationality", and "marital status" affect your bonus?

Now that our ANN model prediction is satisfactory; we can make some fake employees, and  compare if their "gender", "nationality", or "marital status" change, would the bonus status change.

As an example, <br>
Nationality: <br>
    - Canada, X input= 1,0,0 <br>
    - USA, X input= 0,1,0 <br>
    - Mexico, X input= 0,0,1 <br>
Training: 620 hours,<br>
Gender: Male, X input= 0 <br>
Age: 42,<br>
Experience: 2 years,<br>
Number of Machines S/he can work with: 1,<br>
Married: Yes, X input=1 <br>
Has a Bachelor or Higher Degree:Yes, X input=1 <br>
Annual Salary: $100000, <br>

Check to see if this employee would get the bonus?
Then, change its gender and see if it affects the result. What about his nationality or marital status?

##### <font color='red'> Does this employee get the bonus?

In [20]:
Bonus_Status=ANNJudge.predict(sc.transform([[0, 1, 0, 620, 0, 42, 2, 1, 1, 1, 100000]]))
if Bonus_Status>0.5:
    print ("This employee gets the bonus.")
else:
    print ("This employee does not get the bonus.")

1/1 [==============================] - 0s 13ms/step
This employee does not get the bonus.

<font color=red> Let's change his nationality from American to Canadian:

In [21]:
Bonus_Status=ANNJudge.predict(sc.transform([[1, 0, 0, 620, 0, 42, 2, 1, 1, 1, 100000]]))
if Bonus_Status>0.5:
    print ("This employee gets the bonus. :)")
else:
    print ("This employee does not get the bonus. :(")

1/1 [==============================] - 0s 13ms/step
This employee does not get the bonus. :(

##### <font color='red'> Can this prove the company is racist? You need to test it with several other examples; to provide enough evidence for the court.