# Multiple Linear Regression

# Project Description
A car manufacturer has 50 small factories in India, China, and Brazil for the production of some small parts. File Business Data.csv shows the amount of money (in US Dollars) each of these factories has spent in a fiscal year (2019) on equipment, workers' salary, raw materials; and the end year profit.<br>
Build a model to predict the profit if the company decides to build new factories and plan a business (i.e. the amount to spend on equipment, salary, and materials) in each of these countries.

## Step 1. Importing the Libraries

In [39]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Step 2. Importing the Data and Checking

In [40]:
dataset = pd.read_csv('Business Data.csv')
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

In [41]:
dataset

    Equipment Spend  Employee Salary  Raw Materials Spend Country  Profit
0            165349           136898               471784   India  192262
1            162598           151378               443899   China  191792
2            153442           101146               407935  Brezil  191050
3            144372           118672               383200   India  182902
4            142107            91392               366168  Brezil  166188
5            131877            99815               362861   India  156991
6            134615           147199               127717   China  156123
7            130298           145530               323877  Brezil  155753
8            120543           148719               311613   India  152212
9            123335           108679               304982   China  149760
10           101913           110594               229161  Brezil  146122
11           100672            91791               249745   China  144259
12            93864           127320               249839  Brezil  141586
13            91992           135495               252665   China  134307
14           119943           156547               256513  Brezil  132603
15           114524           122617               261776   India  129917
16            78013           121598               264346   China  126993
17            94657           145078               282574   India  125370
18            91749           114176               294920  Brezil  124267
19            86420           153514                    0   India  122777
20            76254           113867               298664   China  118474
21            78389           153773               299737   India  111313
22            73995           122783               303319  Brezil  110352
23            67533           105751               304769  Brezil  108734
24            77044            99281               140575   India  108552
25            64665           139553               137963   China  107404
26            75329           144136               134050  Brezil  105734
27            72108           127865               353184   India  105008
28            66052           182646               118148  Brezil  103282
29            65605           153032               107138   India  101005
30            61994           115641                91131  Brezil   99938
31            61136           152702                88218   India   97484
32            63409           129220                46085   China   97428
33            55494           103057               214635  Brezil   96779
34            46426           157694               210798   China   96713
35            46014            85047               205518   India   96480
36            28664           127056               201127  Brezil   90708
37            44070            51283               197029   China   89949
38            20230            65948               185265   India   81229
39            38559            82982               174999   China   81006
40            28754           118546               172796   China   78240
41            27893            84711               164471  Brezil   77799
42            23641            96190               148001   China   71498
43            15506           127382                35534   India   69759
44            22178           154806                28335   China   65200
45             1000           124153                 1904   India   64926
46             1315           115816               297114  Brezil   49491
47                0           135427                    0   China   42560
48              542            51743                    0   India   35673
49                0           116984                45173   China   14681

## Step 3. Cleaning the Data

## Step 4. Encoding Categorical Data

In [42]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [3])], remainder='passthrough')
X = ct.fit_transform(X)

### Checking the Encoded Data

In [43]:
pd.DataFrame(X)

      0    1    2       3       4       5
0   0.0  0.0  1.0  165349  136898  471784
1   0.0  1.0  0.0  162598  151378  443899
2   1.0  0.0  0.0  153442  101146  407935
3   0.0  0.0  1.0  144372  118672  383200
4   1.0  0.0  0.0  142107   91392  366168
5   0.0  0.0  1.0  131877   99815  362861
6   0.0  1.0  0.0  134615  147199  127717
7   1.0  0.0  0.0  130298  145530  323877
8   0.0  0.0  1.0  120543  148719  311613
9   0.0  1.0  0.0  123335  108679  304982
10  1.0  0.0  0.0  101913  110594  229161
11  0.0  1.0  0.0  100672   91791  249745
12  1.0  0.0  0.0   93864  127320  249839
13  0.0  1.0  0.0   91992  135495  252665
14  1.0  0.0  0.0  119943  156547  256513
15  0.0  0.0  1.0  114524  122617  261776
16  0.0  1.0  0.0   78013  121598  264346
17  0.0  0.0  1.0   94657  145078  282574
18  1.0  0.0  0.0   91749  114176  294920
19  0.0  0.0  1.0   86420  153514       0
20  0.0  1.0  0.0   76254  113867  298664
21  0.0  0.0  1.0   78389  153773  299737
22  1.0  0.0  0.0   73995  122783  303319
23  1.0  0.0  0.0   67533  105751  304769
24  0.0  0.0  1.0   77044   99281  140575
25  0.0  1.0  0.0   64665  139553  137963
26  1.0  0.0  0.0   75329  144136  134050
27  0.0  0.0  1.0   72108  127865  353184
28  1.0  0.0  0.0   66052  182646  118148
29  0.0  0.0  1.0   65605  153032  107138
30  1.0  0.0  0.0   61994  115641   91131
31  0.0  0.0  1.0   61136  152702   88218
32  0.0  1.0  0.0   63409  129220   46085
33  1.0  0.0  0.0   55494  103057  214635
34  0.0  1.0  0.0   46426  157694  210798
35  0.0  0.0  1.0   46014   85047  205518
36  1.0  0.0  0.0   28664  127056  201127
37  0.0  1.0  0.0   44070   51283  197029
38  0.0  0.0  1.0   20230   65948  185265
39  0.0  1.0  0.0   38559   82982  174999
40  0.0  1.0  0.0   28754  118546  172796
41  1.0  0.0  0.0   27893   84711  164471
42  0.0  1.0  0.0   23641   96190  148001
43  0.0  0.0  1.0   15506  127382   35534
44  0.0  1.0  0.0   22178  154806   28335
45  0.0  0.0  1.0    1000  124153    1904
46  1.0  0.0  0.0    1315  115816  297114
47  0.0  1.0  0.0       0  135427       0
48  0.0  0.0  1.0     542   51743       0
49  0.0  1.0  0.0       0  116984   45173

## Scaling

In [52]:
# Since the input variables are all in a same range,we can skip this step
# Later, we will come back and add this step to check the difference 
""""
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X[:, 3:6] = sc.fit_transform(X[:, 3:6])
pd.DataFrame(X)
"""""

'"\nfrom sklearn.preprocessing import StandardScaler\nsc = StandardScaler()\nX[:, 3:6] = sc.fit_transform(X[:, 3:6])\npd.DataFrame(X)\n'

## Step 5. Splitting the Dataset into the Training set and Test Set

In [53]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

## Step 6. Training the Multiple Linear Regression Model on the Training Set

In [54]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

## Step 7. Checking the Model with the Test set

In [56]:
y_pred = regressor.predict(X_test)
pd.DataFrame([y_pred, y_test])

,0,1,2,3,4,5,6,7,8,9
0,103015.995771,132582.258096,132447.973629,71976.311689,178538.193312,116161.551521,67851.843225,98791.559647,113970.00692,167921.073688
1,103282.000000,144259.000000,146122.000000,77799.000000,191050.000000,105008.000000,81229.000000,97484.000000,110352.00000,166188.000000

## Step 8. Measuring the Model Performance
<font color=red> Note: <br> 
 <font color=Green> A typical performance measure for regression problems is the RMSE (Root Mean Square Error)

In [48]:
from sklearn.metrics import mean_squared_error
RMSE=(mean_squared_error(y_pred,y_test))**0.5
print('RMSE: ', RMSE)

RMSE:  9137.824294076494

## Step 9. Using the Model to Predict

In [49]:
# Assume we want to check the profit if we open a factory in any of these 3
# countries - which will yield a higher profit 

NewFactory=np.array([1,0,0,100000,150000,500000])

NewFactory=NewFactory.reshape(1, -1)
ProfitPrediction = regressor.predict(NewFactory)
print('The Profit Prediction for the New Factory= ', ProfitPrediction)

The Profit Prediction for the New Factory=  [142179.55029444]