# Tutorial 1 The Titanic Disaster

## Project Summary
Predict which passengers survived the Titanic shipwreck.

## Importing Some Basic Libraries

In [1]:
import numpy as np 
import pandas as pd 
from matplotlib import pyplot as plt

## Importing the Dataset

In [2]:
dataset = pd.read_csv('Titanic_Data.csv')

## Showing the Dataset in a Table

In [4]:
dataset

,PassengerId,Pclass,Name,Sex,Age,Number of Siblings/Spouses Aboard,Number of Parents/Children Aboard,Fare,Embarked,Survived
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,7.2500,S,No
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,71.2833,C,Yes
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,7.9250,S,Yes
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,53.1000,S,Yes
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,8.0500,S,No
...,...,...,...,...,...,...,...,...,...,...
886,887,2,"Montvila, Rev. Juozas",male,27.0,0,0,13.0000,S,No
887,888,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,30.0000,S,Yes
888,889,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,23.4500,S,No
889,890,1,"Behr, Mr. Karl Howell",male,26.0,0,0,30.0000,C,Yes
890,891,3,"Dooley, Mr. Patrick",male,32.0,0,0,7.7500,Q,No

## A Quick Review of the Data

## Encoding Categorical Data

### Encoding the Input Data

### Encoding the Output Data (Labels)

## Dropping Irrelevant Input Data

## Checking the Preprocessed Dataset

## Splitting the Dataset into the Training Set and Test Set

## Showing the Input Data in a Table Format

## A Quick Check of the Output Data

## Taking Care of Missing Data Inputs

## Scaling the Features

## Training and Testing Predictive Models