____
<a href='https://aintelligentmanufacturing.com/'><img src='Files\MANU465Logo2.png' width=250 height=250/></a>

# Python Intro (A Brief Review)
<img src='Files\PythonLogo.jpg' width=1000 height=250/></a>

# Markdown
<font color='red'> Use this menu at the above to change a cell to Markdown
<img src='Files\markdown.jpg' width=600 height=600/></a>

## Title
* Bullet
    * indentation
    
**Make it Bold**

<font color='red'> "Double Click on the Markdown Cells to see the Details" <br>
    
<font color='blue'> How o change the color ....

# Links
<font color='magenta'> How to add a link: <br>
[What is MANU 465](https://www.youtube.com/watch?v=bRDxBGfK1oo&t=48s)

## Embed Image in a Code Cell

In [1]:
from IPython.display import Image
Image(url= "Files\Ahmad in the Class.jpg", width=1000, height=1000)

## Print vs Output

In [2]:
1+1

2

In [4]:
print(1+1)

2

## Short Keys

In [4]:
"Shift+Enter" # to run a line

'Shift+Enter'

In [10]:
"Alt+Enter" # to run and add a new cell

'Alt+Enter'

# Basic Arithmetics

In [10]:
2+2
2*2
2/2
2**2
5%2

1

In [11]:
x=2
y=5

In [12]:
print(x)

2

In [13]:
x**y

32

# Strings

In [16]:
C="MANU 465 is a cool course!"

In [17]:
print(C)

MANU 465 is a cool course!

In [18]:
Name='Ahmad'
Age=40

In [20]:
'My name is {} and I am {} years old'.format(Name, Age)

'My name is Ahmad and I am 40 years old'

In [24]:
# Order doesn't matter.
'My name is {X1} and I am {X2} years old; my brother is also {X2}'.format(X2=Age, X1=Name)

'My name is Ahmad and I am 40 years old; my brother is also 40'

In [7]:
S='MANU 465'

In [8]:
# Grab the 4th element in a string (start from 0)
S[3]

'U'

In [9]:
S[5]

'4'

In [29]:
# Index in Python starts from Zero. 
S[0]

'M'

In [36]:
Z="abcdefghi"

In [37]:
Z[0:] # Grab everything beyond 0 place

'abcdefghi'

In [38]:
Z[:3] # Grab everything from the begining to (3-1)th character (Note: Start countign from Zero)

'abc'

In [39]:
Z[:4]

'abcd'

In [41]:
Z[2:5] # Grab everything from 2nd to (5-1)th

'cde'

In [42]:
Z[:-1] # All but the last column

'abcdefgh'

In [43]:
Z[-1:] # Only last column

'i'

In [44]:
Z[0]  # Only the first column

'a'

# List

In [47]:
My_List=['a' ,'b', 'c' ,'d']

In [48]:
print(My_List)

['a', 'b', 'c', 'd']

In [49]:
My_List.append('e')

In [50]:
My_List

['a', 'b', 'c', 'd', 'e']

In [51]:
My_List[0]

'a'

In [52]:
My_List[2:4]

['c', 'd']

In [53]:
My_List[0]='New'

In [54]:
My_List

['New', 'b', 'c', 'd', 'e']

In [55]:
Nest=['a', 'b', 'c','d', ['y','w','z']] # A list inside a list

In [56]:
Nest[3]

'd'

In [58]:
Nest[4]

['y', 'w', 'z']

In [59]:
Nest[4][0]

'y'

In [60]:
Nest[4][2]

'z'

In [61]:
Num_List=[1,2,3,4,5]

In [62]:
Num_List[0]

1

In [64]:
Num_List[1]+5*Num_List[2]

17

# Dictionary

In [4]:
d={'A':'Age', 'B':'Book', 'C':44, 'D':[1,2,3]}

In [5]:
d['A']

'Age'

In [6]:
d['C']

44

In [7]:
d['D'] # it is a list.

[1, 2, 3]

In [8]:
d['D'][1] # call a value from a list inside a Dictionary

2

# Booleans

In [9]:
True

True

In [19]:
False

False

In [22]:
2>1

True

In [23]:
1==1

True

In [24]:
4>=3

True

In [25]:
5!=3  # Not Equal

True

In [26]:
'hate' !='love'

True

In [27]:
4>2 and 3>1

True

In [28]:
# Better to write like:
(4>2) and (3>1)

True

In [29]:
(4>2) or (7>11)

True

# Tuples

In [11]:
t=(1,2,3)

In [12]:
t[0]

1

## Tuple vs List
You <font color='red'> cannot <font color='black'>reasign a new value/string to the element of a tuple, unlike list.

In [13]:
List=[1,2,3]

In [14]:
List[0]=5

In [15]:
List

[5, 2, 3]

In [16]:
Tuple=(1,2,3)

In [17]:
Tuple[0]=5  # As you can see, we get an Error, and we are not allowed to change the tuple.

TypeError: 'tuple' object does not support item assignment

# If, Esle If

In [30]:
if True:
    print('Perform the code!')

Perform the code!

In [31]:
if 5>3:
    print('You are a genius!')

You are a genius!

In [33]:
x=0
if 3>5:
    x=5+7
print(x)

0

In [34]:
if 2==3:
    print('I am not sure!')
else:
    print('maybe!')

maybe!

In [35]:
if 2==3:
    print('I am not sure!')
elif 4!=5:
    print('what do you mean!')
else:
    print('maybe!')

what do you mean!

# For and While Loops

In [37]:
List=[5,7,9,11,13]
for number in List:
    y=number**2
    print(y)

25
49
81
121
169

In [40]:
New_List=[]
List=[5,7,9,11,13]
for number in List:
    y=number**2
    New_List.append(y)

In [41]:
New_List

[25, 49, 81, 121, 169]

In [43]:
L=[]
i=1
while i<10:
    L.append(i)
    i=i+2
print(L)

[1, 3, 5, 7, 9]

In [44]:
for x in range(0,10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [53]:
LL=range(0,7) # gives me a list from 0 to 6

In [55]:
LL[0]

0

In [52]:
LL[6]

6

# List Comprehension
Instead of using a for loop, like the one below, you simply, write all in one line as shown in the second cell below

In [57]:
# Method 1
x=[2,3,5,7]
List=[]
for num in x:
    List.append(num**2)
print(List)

[4, 9, 25, 49]

In [59]:
# Methos 2
List2=[num**2 for num in x]
print(List2)

[4, 9, 25, 49]

# Function

In [11]:
def f(x):
    return x**3

In [12]:
print(f(5))

125

##### Add a desciption to a function

In [15]:
def g(x):
    """
    This function, gives you the root of a value.
    """
    return x**0.5

In [17]:
# now, when you SHIFT+TAB in front of this fucntion, Jupyter shows you what this function deos for you. 
g(5)

2.23606797749979

# Apply a Function to a List

In [8]:
# Note: You can do the same thing using for loop and append; but a simpler way is to use map
S=[0,1,2,3,4,5]
S_Root=list(map(g,S))
print(S_Root)

[0.0, 1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979]

# lambda 
It condense a function to one line of code

In [10]:
# Consider this function 
def f(x):
    return 2*x

In [11]:
# this function can be witten as
t=(lambda x:2*x)

In [12]:
print(t(5))

10

In [18]:
# Try on a list
Lis=[1,2,3,4,5,6,7,8]
Lis2=list(map(t,Lis))
print(Lis2)

[2, 4, 6, 8, 10, 12, 14, 16]

In [19]:
# and it can be simplified to:
Lis3=list(map(lambda x:2*x,Lis))

In [20]:
print(Lis3)

[2, 4, 6, 8, 10, 12, 14, 16]

# Filter

In [28]:
# For example, we want only the even numbers from this List
Lis4=list(filter(lambda x:x%2==0, Lis))

In [29]:
print(Lis4)

[2, 4, 6, 8]

# Method
If you type a variable/list, then a dot in front of it, then press "tab" on your keyboard; it will show you the available method, you can apply to that variable or list.

In [35]:
Lis.count(3)

1

In [36]:
Var='My Name is Ahmad.'

In [37]:
Var.lower()

'my name is ahmad.'

In [38]:
Var.upper()

'MY NAME IS AHMAD.'

In [39]:
Var.split()

['My', 'Name', 'is', 'Ahmad.']

In [40]:
Example='My name is Ahmad. I am the instructor of MANU465.'

In [43]:
Single_Sente=Example.split('.')

In [44]:
Single_Sente

['My name is Ahmad', ' I am the instructor of MANU465', '']

In [45]:
Single_Sente[0]

'My name is Ahmad'

In [46]:
Single_Sente[1]

' I am the instructor of MANU465'

# Other Useful Codes

In [48]:
Dic={'k1':'Ahmad', 'k2':40, 'k3':'Teacher', 'k4':5}

In [50]:
Dic.keys()

dict_keys(['k1', 'k2', 'k3', 'k4'])

In [51]:
Dic.items()

dict_items([('k1', 'Ahmad'), ('k2', 40), ('k3', 'Teacher'), ('k4', 5)])

In [52]:
Dic.values()

dict_values(['Ahmad', 40, 'Teacher', 5])

In [53]:
Dic['k1']

'Ahmad'

In [1]:
Lis=[1,2,3,4,5]

In [2]:
Lis.pop(0) # pop remove one item; if we don't put an index, the default is the last item

1

In [3]:
Lis

[2, 3, 4, 5]

In [4]:
Lis.pop()

5

In [5]:
Lis

[2, 3, 4]

In [6]:
Lis.append(44)  # append, add a new item to the list

In [7]:
Lis

[2, 3, 4, 44]

In [8]:
5 in Lis

False

In [9]:
4 in Lis

True

In [10]:
Lis2=['A', 'B', 'C', 'D']

In [11]:
'B' in Lis2

True

##### End